@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500);
@import url(https://fonts.googleapis.com/css?family=Be+Vietnam+Pro);
@import url(https://fonts.googleapis.com/css?family=Quicksand);
@keyframes change-text {
    0%, 55%, 100% {
        transform: translateY(-45%); }
    5%, 50% {
        transform: translateY(-95%); } }
body {
    box-sizing: border-box;
    color: #13293D;
    /*font-family: "Be Vietnam Pro", serif;*/
    font-family: "Quicksand", serif;
    font-weight: bolder;
    font-style: normal;
    /*font-family: "Josefin Sans", cwtexyen, sans-serif;*/
    /*font-family: "Montserrat", sans-serif;*/
}
/**/

@keyframes cursor {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: black;
    }
}
@keyframes typing {
    from {
        width: 100%;
    }
    90%, to {
        width: 0;
    }
}
@keyframes slide {
    33.3333333333% {
        font-size: 3rem;
        letter-spacing: 3px;
    }
    to {
        font-size: 0;
        letter-spacing: 0;
    }
}
.typing-slider {
    font-family: "Source Code Pro", monospace;
    font-size: 70px;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
}
.typing-slider p {
    position: relative;
    display: inline;
    font-size: 0;
    /*text-transform: uppercase;*/
    letter-spacing: 0;
    animation: slide 15s step-start infinite;
}
.typing-slider p::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-left: 3px solid black;
    background-color: #E8F1F2;
    animation: typing 5s infinite, cursor 1s infinite;
}
.typing-slider p:nth-child(1) {
    animation-delay: 0s;
}
.typing-slider p:nth-child(1)::after {
    animation-delay: 0s;
    animation-timing-function: steps(23), step-end;
}
.typing-slider p:nth-child(2) {
    animation-delay: 5s;
}
.typing-slider p:nth-child(2)::after {
    animation-delay: 5s;
    animation-timing-function: steps(16), step-end;
}
.typing-slider p:nth-child(3) {
    animation-delay: 10s;
}
.typing-slider p:nth-child(3)::after {
    animation-delay: 10s;
    animation-timing-function: steps(24), step-end;
}
/**/

a {
    text-decoration: none;
    color: #1B98E0; }
a:hover {
    color: #13293D; }

.wrapper {
    margin: 5% 10%; }

.heading {
    background-color: #E8F1F2;
    padding: 5%;
    text-align: center; }
/*.heading h1 {
    margin: 0 auto;
    font-family: "Source Code Pro", monospace;
    font-size: 50px;
    font-weight: 500;
    animation: 8s typing steps(16, end), 0.5s text-blink step-end infinite;
    width: 9.6em;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid; }
@media screen and (max-width: 550px) {
    .heading h1 {
        font-size: 30px; } }

.sm-name {
    display: none;
    color: #006494; }
@media screen and (max-width: 550px) {
    .sm-name {
        display: block; } }
*/
.name {
    margin-top: 10px;
    height: 52px;
    overflow: hidden; }
@media screen and (max-width: 550px) {
    .name {
        display: none; } }
.name ul {
    list-style: none;
    padding: 0;
    color: #006494;
    font-size: 50px;
    animation: 8s change-text linear infinite; }
.name ul li {
    padding-top: 5px;
    line-height: 52px; }

.social ul {
    list-style: none;
    padding-left: 0; }
.social ul a {
    color: #13293D; }
.social ul li {
    display: inline-block;
    margin: 0 5px; }

.block h2::first-letter {
    font-size: 30px;
    color: #006494; }

.block h2 {
    font-family: "Source Code Pro", monospace;
    border-bottom: 2px solid; }

.block ul {
    list-style: none;
    padding-left: 0; }

.info .email::before {
    content: 'toilamanh2002@gmail.com'; }

.info .dob::before {
    content: '03/06/2002'; }

.info .location::before {
    content: 'HaNoi, VietNam'; }

.research {
    color: #AD0000; }

.pri-tag {
    display: inline-block;
    padding: 8px;
    background: #13293D;
    color: #E8F1F2;
    margin: 5px;
    border-radius: 5px; }

.pri-tag-en {
    display: inline-block;
    padding: 8px;
    background: #13293D;
    color: #E8F1F2;
    margin: 5px;
    border-radius: 5px; 
}

.pri-tag-en { position:relative; }
.pri-tag-en span { position:absolute; display:none; z-index:99; }
.pri-tag-en:hover span { display:block; }

.sec-tag {
    display: inline-block;
    padding: 8px;
    background: #E8F1F2;
    color: #13293D;
    margin: 5px;
    border-radius: 5px; }

.about p::before {
    content: '\00a0\00a0\00a0\00a0'; }

.degree h3, .exp-item h3 {
    margin: 10px 0 5px 0;
    padding: 0; }

.degree p, .exp-item p {
    margin: 0;
    padding: 0; }

.exp-item ul {
    list-style: square;
    padding-left: 15px; }
.exp-item ul li {
    padding-top: 5px; }

.profile {
    background-size: 100%;
    border-radius: 50%;
    margin: 20px auto;
    width: 150px;
    height: 150px;
    display: inline-block;
    background-image: url("/assets/PXL_20221104_130641005~2.jpg");
}

footer {
    position: absolute;
    right: 80px;
}

.cv {
    margin-top: 25px;
}

.get-cv {
    border-radius: 8px;
    cursor: pointer;
    background-color: white;
    color: #14293d;
    border: 2px solid #14293d;
    transition-duration: 0.4s;
    text-align: center;
    font-size: 18px;
    padding: 16px;
    width: 160px;
    transition: all 0.5s;
    margin: 5px;
}

.get-cv:hover {
    background-color: #14293d; /* Green */
    color: white;
}

.get-cv span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.get-cv span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
}

.get-cv:hover span {
    padding-right: 25px;
}

.get-cv:hover span:after {
    opacity: 1;
    right: 0;
}

#myBtn {
    cursor: pointer;
}

#x {
    margin: auto;
}

.hover_img a { position:relative; }
.hover_img a span { position:absolute; display:none; z-index:99; }
.hover_img a:hover span { display:block; }